---
layout: default
title: opensoul.org
---

{% for post in site.posts limit:5 %}
  <article class="summary">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="excerpt">
      {{ post.excerpt }}
    </div>
    <div class="meta">
      <span class="tags">
        {% for category in post.categories %}
          {{ category }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      </span>
      <span class="date">{{ post.date | date: '%B %e, %Y' }}</span>
    </div>
  </article>

{% endfor %}

<p class="buttons"><a href="/blog/archives" class="button">View Archives »</a></p>
