.mark
  font-family: github-octicons

header
  border-bottom: 1px solid #eee
  overflow: hidden

  h1.small, p
    margin: 0
    float: left
    line-height: 3 * $base-line-height

  #links
    float: right

    a
      font-size: $base-font-size * 1.2
      padding: 0 1rem

.meta
  font-size: 0.8rem
  text-transform: uppercase
  opacity: 0.7

  .tags:before
    display: inline-block
    margin: 0 1em
    content: " — "

article
  margin-bottom: 2em
  padding-bottom: 2em
  border-bottom: 1px solid #f1f1f1

  h1 + .meta
    margin-top: -$base-line-height
    margin-bottom: $base-line-height

  hr
    border: 0

    &:before
      content: "···"
      letter-spacing: 1rem
      font-size: 3rem
      text-align: center
      opacity: 0.2
      display: block
      line-height: $base-line-height

  img
    max-width: 100%
    display: inline-block

    @media only screen and (min-width: $measure)
      &.pull-left, &.pull-right
        position: relative
        max-width: 50%
        margin: 0 $base-line-height

      &.pull-left
        float: left
        @media only screen and (min-width: $measure + 200)
          margin-left: -100px

      &.pull-right
        float: right
        @media only screen and (min-width: $measure + 200)
          margin-right: -100px

  .framed
    padding: 2px
    background: #fff
    border: 1px solid #eee
    border-radius: 2px
    overflow: hidden
    margin-bottom: 20px

    img
      display: block

  @media only screen and (min-width: 768px)
    .half img
      max-width: 49%

#be-social
  margin-top: 2em

  .twitter-follow-button
    float: right

#copyright
  text-align: center
  font-size: 0.75em
  color: lighten($text-color, 30%)
  margin-bottom: 2em

.book
  float: left
  margin-right: 2em
  text-align: center

.book-cover
  width: 150px
  box-shadow: 0px 0px 2px rgba(0,0,0,0.4), 0px 0px 4px rgba(0,0,0,0.3)

blockquote
  // clear the floated book cover
  clear: left

.avatar
  float: left
  margin-right: $base-line-height
  width: $base-line-height * 3
  height: $base-line-height * 3
  border-radius: $base-line-height * 3
