body
  font: 14px/21px Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  color: $text-color

h1, h2, h3, h4, h5, h6
  font-family: "Apple Garamond", Georgia, serif
  font-weight: normal
  color: $heading-color

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit
  color: inherit

h1
  font-size: 40px
  line-height: 50px
  margin-bottom: 14px

h1.small
  font-size: 36px
  line-height: 46px
  margin-bottom: 12px

h2
  font-size: 30px
  line-height: 40px
  margin-bottom: 10px

h3
  font-size: 24px
  line-height: 34px
  margin-bottom: 8px

h4
  font-size: 20px
  line-height: 30px
  margin-bottom: 4px

h5
  font-size: 16px
  line-height: 24px

h6
  font-size: 14px
  line-height: 21px

p
  margin: 0 0 20px 0

  img
    margin: 0

  &.lead
    font-size: 21px
    line-height: 27px
    color: #777

em
  font-style: italic

strong
  font-weight: bold
  color: #000

small
  font-size: 80%

/*  Blockquotes  */
blockquote, blockquote p
  color: #777
  font-style: italic

blockquote
  margin: 9px 0 9px
  padding: 0 20px 0 19px
  border-left: 1px solid #ddd

blockquote cite
  display: block
  font-size: 12px
  color: #555

blockquote cite:before
  content: "\2014 \0020"

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited
  color: #555

/* === #Links === */
a
  color: $link-color
  text-decoration: none
  outline: 0

  &:hover, &:focus
    color: lighten($link-color, 10%)

  &.dimmed
    color: #000

    &:hover
      color: lighten($link-color, 10%)

p a, p a:visited
  line-height: inherit

ins
  text-decoration: none
  color: darken($text-color, 10%)
  border-bottom: 1px dotted #ddd

del
  color: lighten($text-color, 10%)
  text-shadow: none
