body
  font-size: $base-font-size
  line-height: $base-line-height
  font-family: $font-family
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  color: $text-color

h1, h2, h3, h4, h5, h6
  color: $heading-color
  font-family: "PT Sans Narrow", "Apple Garamond", $font-family

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit
  color: inherit

h1
  font-weight: 600
  font-size: 1em * $scale * $scale
  line-height: 1.2340425531914894em
  margin-top: 0em
  margin-bottom: 0em

h2
  font-weight: 600
  font-size: 1em * $scale
  line-height: 1em
  margin-top: 1em
  margin-bottom: 1em

h3, h4, h5, h6
  font-weight: 600
  font-size: 1em
  line-height: 1.6111111111111112em
  margin-top: 1.6111111111111112em
  margin-bottom: 0em

p, ul, ol, pre, table, blockquote, blockquote cite, hr
  margin-top: $base-line-height
  margin-bottom: $base-line-height

p
  img
    margin: 0

em
  font-style: italic

strong
  font-weight: bold
  color: #000

small, .small
  font-size: 0.75em
  line-height: $base-line-height / 0.75

.condensed
  font-family: $narrow-font-family
  font-weight: 200
  text-transform: uppercase
  font-size: 0.7em
  line-height: $base-line-height / 0.7
  letter-spacing: 2px

/*  Blockquotes  */
blockquote, blockquote p
  color: #666768
  font-style: italic

blockquote
  padding: 0 0 0 $base-line-height
  border-left: 2px solid #eeefef

blockquote cite
  display: block
  font-style: normal
  font-size: 0.9em
  line-height: $base-line-height / 0.9

  &:before
    content: "\2014 \0020"

/* === Sanitation === */

hr
  border: 0

  &:before
    content: "···"
    letter-spacing: 0.5em
    font-size: 3em
    line-height: $base-line-height / 3
    margin: ($base-line-height / 3) 0
    text-align: center
    opacity: 0.2
    display: block

ul ul, ol ol, ul ol, ol ul
  margin-top: 0
  margin-bottom: 0

b, strong, em, small, code
  line-height: 1

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  top: 0.4em

/* === #Links === */
a
  color: $link-color
  text-decoration: none
  outline: 0

  &:hover, &:focus
    color: lighten($link-color, 10%)

p a, p a:visited
  line-height: inherit

ins
  text-decoration: none
  color: darken($text-color, 10%)
  border-bottom: 1px dotted #ddd

del
  color: lighten($text-color, 10%)
  text-shadow: none

.grid
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px)
  background-position: left -1px
  background-repeat: repeat
  background-size: 29px 29px

.grid body
  box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3)
