#about
  font-size: 0.9em

  p
    padding-left: 3em

  li a
    @extend a.dimmed

  section
    margin-bottom: 3em

  h1
    font-size: 24px

#links
  text-align: center

  a
    @extend a.dimmed
    font-size: 21px
    line-height: 1
    padding: 10px 14px
