body
  padding-top: 3em

header
  margin-bottom: 1em

.summary
  margin-bottom: 3em

.meta
  font-size: 10px
  text-transform: uppercase
  margin-top: -1.5em
  opacity: 0.8

  .tags:before
    display: inline-block
    margin: 0 1em
    content: " — "

article
  img
    max-width: 100%
    display: inline-block

  @media only screen and (min-width: 768px)
    .half img
      max-width: 49%

#copyright
  text-align: center
  font-size: 0.85em
  color: lighten($text-color, 30%)
  margin-bottom: 2em
