@font-face {
  font-family: 'opensoul';
  src: asset-url('opensoul.eot');
  src: asset-url('opensoul.eot?#iefix') format('embedded-opentype'),
       asset-url('opensoul.woff') format('woff'),
       asset-url('opensoul.ttf') format('truetype'),
       asset-url('opensoul.svg#opensoul') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font: normal normal 16px opensoul;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.icon-feed:before { content: '\f001'} /*  */
.icon-mark-github:before { content: '\f003'} /*  */
.icon-mark-twitter:before { content: '\f004'} /*  */
