<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="a blog about code">
  <meta name="author" content="Brandon Keepers">
  <meta name="verify-v1" content="UwU5mecrHiDTPVlphLl729aaRCmyz93jrs+ER3RP4Pw=">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="h4QNmQOrsvnIEsMH5GS3s4_jV3ZAZgrEoZdL4RsbOMI" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700|Lobster' rel='stylesheet' type='text/css'>
  {% stylesheet site %}

  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid.delegate" href="http://bkeepers.myopenid.com/">
  <link href="http://feeds.feedburner.com/opensoul" rel="alternate" title="opensoul.org" type="application/atom+xml">

  <!-- FIXME: {{ item.data.head }} -->
</head>
<body>
<div class="container">
  <header>
    <h1><a href="/">{{ site.name }}</a></h1>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <div id="about">
    <section>
      <p>I am <strong>Brandon Keepers</strong>. I build Internet things, usually with Ruby or JavaScript. I work at <a href="http://github.com">GitHub</a> and live in Holland, MI.</p>

      <ul id="links">
        <li><a class="twitter" href="http://twitter.com/bkeepers">Follow me on Twitter</a></li>
        <li><a class="github" href="http://github.com/bkeepers">Follow me on GitHub</a></li>
        <li><a class="subscribe" href="http://feeds.feedburner.com/opensoul">Subscribe to the Feed</a></li>
      </ul>
    </section>

    <section>
      <h1>Popular Posts</h1>
      <ul>
      {% for post in site.categories.popular limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </section>

  </div>
</div>

<footer id="copyright">
  Copyright © {{ site.copyright }} Brandon Keepers
</footer>

<!--
FIXME:

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-817617-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

<script type="text/javascript">
  (function() {
    var t = document.createElement('script');
    t.type = 'text/javascript'; t.async = true;
    t.id = 'gauges-tracker'; t.setAttribute('data-site-id', '4d5c434255da1271e4000002');
    t.src = 'http://gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
-->
</body>
</html>
