---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p class="meta">
    <span class="date">{{ page.date | date:'%B %e, %Y' }}</span>
    <span class="tags">
      {% for category in page.tags %}
        <a href="/archives/{{ category }}/">{{ category }}</a> {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>

    <span>
      {{ content | number_of_words | divided_by:180.0 | ceil }} min read
    </span>
  </p>
  <div class="body">{{ content }}</div>

  <div class="improve-it small">
    <em>
      This content is open source.
      <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">Suggest Improvements</a>.
    </em>
  </div>
  <p>— <a href="https://twitter.com/bkeepers">@bkeepers</a></p>
</article>
